<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quxue.template.mapper.ClockInRuleMapper">

    <resultMap id="BaseResultMap" type="com.quxue.template.domain.pojo.ClockInRule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="signinStartTime" column="signin_start_time" jdbcType="VARCHAR"/>
            <result property="signinTime" column="signin_time" jdbcType="VARCHAR"/>
            <result property="signinEndTime" column="signin_end_time" jdbcType="VARCHAR"/>
            <result property="signoutStartTime" column="signout_start_time" jdbcType="VARCHAR"/>
            <result property="signoutTime" column="signout_time" jdbcType="VARCHAR"/>
            <result property="signoutEndTime" column="signout_end_time" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,signin_start_time,signin_time,
        signin_end_time,signout_start_time,signout_time,
        signout_end_time,user_id,tenant_id
    </sql>
</mapper>
