<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quxue.template.mapper.SignDetailMapper">

    <resultMap id="BaseResultMap" type="com.quxue.template.domain.pojo.SignDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="signDate" column="sign_date" jdbcType="DATE"/>
            <result property="signTime" column="sign_time" jdbcType="TIMESTAMP"/>
            <result property="signType" column="sign_type" jdbcType="TINYINT"/>
            <result property="signStatus" column="sign_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address,
        sign_date,sign_time,sign_type,
        sign_status
    </sql>
    <select id="getSignStatistics" resultType="com.quxue.template.domain.vo.DateVo">
        select cast(sign_date as char) date, if(count(sign_status = 1) = 2, "normal", "abnormal") status
        from t_sign_detail
        where user_id = #{id}
          and sign_date between #{startDate} and #{endDate}
        group by sign_date
    </select>

</mapper>
